html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #efefef;
  font-family: "Lato", sans-serif;
}
img {
  margin-top: 2em;
  margin-bottom: 3em;
  max-width: 100%;
  height: auto;
  max-height: 50vh;
}
.carimbo {
  /*text-align: right;*/
}
h1 {
  margin: 0;
  font-size: 1em;
  font-weight: 700;
}
h2 {
  margin: 0 auto 0.8em;
  font-size: 1em;
  font-weight: 400;
}
p {
  margin: 0;
  font-weight: 300;
  font-size: 0.9em;
}
p span {
  font-weight: 400;
}
